{% extends 'base.html' %} 
{% block content %}
  {% for news in newss %}
  <div class="card mb-3">
    <div class="row g-0">
      <div>
        <div class="card-body">
          <h5 class="card-title">{{ news.headline }}</h5>

          {% if news.image %}
          <img src="{{ news.image.url }}" class="img-fluid" alt="{{ news.headline }}">
          {% endif %}
        
          <p class="card-text">{{ news.body |truncatechars:100 }}</p>
          <p class="card-text"><small class="text-muted">
            {{ news.pub_date }}
          </small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}
