{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->

<!-- <div class="container-fluid mt-3">
	<div class="row">
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{{ product.description | safe }}
			</div>
		</div>
	</div>
</div> -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- <img src="https://via.placeholder.com/400" class="img-fluid" alt="Product Image"> -->
            <img src="{{ product.image.url }}" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Product Name</h2>
            <p class="text-muted">Category: Electronics</p>
            <p>{{ product.description | safe }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p class="font-weight-bold mb-1">Price: $99.99</p>
            <div class="mb-3">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" class="form-control" value="1" min="1">
            </div>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Product Details</h3>
            <ul class="list-group">
                <li class="list-group-item">Brand: XYZ</li>
                <li class="list-group-item">Color: Black</li>
                <li class="list-group-item">Material: Plastic</li>
                <li class="list-group-item">Features: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}